<section class="body-font text-gray-900">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-4xl">
        Cátalogo de <strong class="text-blue-500">Produtos</strong> e
        <strong class="text-blue-500">Favoritos</strong>
      </h1>
      <p class="leading-relaxed mt-4">
        "Explore nosso catálogo e descubra os produtos que vão se tornar seus
        favoritos!"
      </p>
    </div>
    <form
      [formGroup]="loginForm"
      (submit)="login()"
      class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0"
    >
      <h2 class="text-lg text-center font-medium title-font mb-5">
        Bem vindo de volta!
      </h2>
      <div class="relative mb-4">
        <input-component label="Email" type="email" formControlName="email" />
      </div>
      <div class="relative mb-4">
        <input-component
          label="Senha"
          formControlName="password"
          [type]="passwordInputType"
          class="mb-3"
          
        />
        <div class="flex justify-end w-full">
          <input
            (click)="changeTypeInputPassword()"
            id="checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="checkbox"
            class="ms-2 text-sm font-medium dark:text-gray-300"
            >Mostrar senha</label
          >
        </div>
      </div>
      <button-component type="submit" [isDisabled]="loginForm.invalid">Entrar</button-component>
      <p class="hover:font-medium cursor-pointer text-center">
        Não tenho conta!
      </p>
    </form>
  </div>
</section>
