<section class="body-font text-gray-900">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
      <h1 class="title-font font-medium text-4xl">
        Cátalogo de <strong class="text-blue-500">Produtos</strong> e
        <strong class="text-blue-500">Favoritos</strong>
      </h1>
      <p class="leading-relaxed mt-4">
        "Explore nosso catálogo e descubra os produtos que vão se tornar seus
        favoritos!"
      </p>
    </div>
    <form
      class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0"
    >
      <h2 class="text-lg text-center font-medium title-font mb-5">
        Bem vindo de volta!
      </h2>
      <div class="relative mb-4">
        <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
        <input
          type="text"
          id="email"
          name="email"
          class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <div class="relative mb-4">
        <label for="password" class="leading-7 text-sm text-gray-600"
          >Senha</label
        >
        <input
          [type]="password_input_type"
          id="password"
          name="password"
          class="w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out mb-3"
        />
        <div class="flex justify-end w-full">
          <input
            (click)="changeTypeInputPassword()"
            id="checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="checkbox"
            class="ms-2 text-sm font-medium dark:text-gray-300"
            >Mostrar senha</label
          >
        </div>
      </div>
      <button
        class="text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg mb-3"
      >
        Entrar
      </button>
      <p class="hover:font-medium cursor-pointer text-center">
        Não tenho conta
      </p>
    </form>
  </div>
</section>
